
// VARS //

$ContainerPadding: 2em;




// FONTS //

@mixin font-stack-header { 
	font-family: 'Amaranth', sans-serif;
	font-weight: 700;
}

@mixin font-stack-normalTxt {
	font-family: 'Lato', serif;
}

@mixin font-stack-thinTxt {
	font-family: 'Josefin Slab', serif;
}

// FORMS //


@mixin input-placeholder($color) {
  &.placeholder {
    color: $color; 
  }
  &::-moz-placeholder {
    color: $color; 
  }
  &::-webkit-input-placeholder {
    color: $color; 
  } 
}


// CLEARFIX //


.group:after {
  content: "";
  display: table;
  clear: both;
}
