// COLOURS //

$purple: #720d5b;
$red: #cf3104;
$yellow: #bca000;
$green: #018e4a;
$blue: #004078;
$logoYellow: #f9c22a;


// VARS //

$ContainerPadding: 2em;




// FONTS //

@mixin font-stack-header { 
	font-family: 'Amaranth', sans-serif;
	font-weight: 700;
}

@mixin font-stack-normalTxt {
	font-family: 'Lato', serif;
}

@mixin font-stack-thinTxt {
	font-family: 'Josefin Slab', serif;
}

// FORMS //


@mixin input-placeholder($color) {
  &.placeholder {
    color: $color; 
  }
  &::-moz-placeholder {
    color: $color; 
  }
  &::-webkit-input-placeholder {
    color: $color; 
  } 
}



// COLOUR VARIATIONS //

// GALLERY //

.peculiar {
  border-bottom: 4px solid $purple;
}
.news {
  border-bottom: 4px solid $red;
}
.funny {
  border-bottom: 4px solid $yellow;
}
.music {
  border-bottom: 4px solid $green;
}




// CLEARFIX //


.group:after {
  content: "";
  display: table;
  clear: both;
}
