 
@import "compass/css3";
@import "normalize";
@import "bits";
@import "forms";
@import "typography";
@import "grid";


html, body { 
	height: 100%
}



// HEADER //


.logo { 
	background: url(../images/logo.png) no-repeat;
	float: left;
	width: 396px; height: 85px;
	text-indent: -100%;
	margin: 1em 1em;
}

.user {
	float: right;
	width: 14em; height: 5em;
		.login, .signup { 
			float: left;
			padding: 1em;
	}
}



// NAV //

nav {
	float: left;
		ul, ul li { margin: 0; padding: 0;
	}
}

// MAIN-BODY //



// SLIDER //


article h1 {
	margin: 0;
	padding: 0 0 0.4em;

}

article figure img {
	float: left;
	width: 250px; height: 144px;
	margin: 0 1em 0 0;
}

article p {
	margin: 0;
}


// GALLERY //

.mainStory-gallery {
	overflow: hidden;
	margin: 2em 0;
}

.box {
   float: left;
   position: relative;
   width: 33%;
   padding-bottom: 20%;
}
.boxInner {
   position: absolute;
   overflow: hidden;
}
.boxInner img {
   width: 100%;
}
.boxInner .titleBox {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   margin-bottom: -35px;
   background: none;
   color: #fff;
   padding: 8px;
   text-align: center;
   font-size: 0.8em;
   @include transition(all 0.3s ease-out);

}
.boxInner:hover .titleBox, .boxInner.touchFocus .titleBox {
   margin-bottom: 0;
   background: rgba(0, 0, 0, 0.5);

}



// WIDGETS //

.widget-topusers {
	float: left;
	width: 32%;
}

.widget-topvideos {
	float: left;
	width: 68%;
}






footer {

	width: 100%;
}






