 
@import "compass/css3";
@import "normalize";
@import "bits";
@import "forms";
@import "typography";
@import "grid";


html, body { 
	height: 100%
}



// HEADER //


.logo { 
	background: url(../images/logo.png) no-repeat;
	float: left;
	width: 396px; height: 85px;
	text-indent: -100%;
	margin: 1em 1em;
}

.user {
	float: right;
	width: 14em; height: 5em;
		.login, .signup { 
			float: left;
			padding: 1em;
	}
}



// NAV //

nav {
	float: left;
		ul, ul li { margin: 0; padding: 0;
	}
}

// MAIN-BODY //



// SLIDER //


article h1 {
	margin: 0;
	padding: 0 0 0.4em;

}

article figure img {
	float: left;
	width: 250px; height: 144px;
	margin: 0 1em 0 0;
}

article p {
	margin: 0;
}

.post-author {
	float: left;
	background: #000;
	color: #fff;
	font-size: 0.7em;
	width: 59%;
	padding: 0.4em 1.4em;
	margin: 0.2em 1.5em 0 0;
}


.post-video select, input, textarea {
	margin: 0.4em 0;
}


// GALLERY //

.mainStory-gallery {
	overflow: hidden;
	margin: 2em 0;
}

.mainStory-gallery-img-container {
   float: left;
   position: relative;
   width: 33%;
   padding-bottom: 20%;
}
.img-holder {
   position: absolute;
   overflow: hidden;
}
.img-holder img {
   width: 100%;
}
.img-holder .titleBox {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   margin-bottom: 0px;
   background: none;
   color: #fff;
   opacity: 0;
   padding: 8px;
   text-align: center;
   font-size: 0.8em;
   @include transition(all 0.3s ease-out);

}
.img-holder:hover .titleBox {
   margin-bottom: 30px;
   background: rgba(0, 0, 0, 0.5);
   opacity: 1;

}



// WIDGETS //

.widget-topusers {
	float: left;
	width: 32%;
}

.widget-topvideos {
	float: left;
	width: 68%;
}






footer {

	width: 100%;
}


// RIGHT-SIDEBAR //

.post-video h2 {
	font-size: 1.4em;
}




