 
@import "compass/css3";
@import "normalize";
@import "bits";
@import "forms";
@import "typography";
@import "icons";
@import "grid";


html { 
	background:url('../images/bgBrokenNoise.png') repeat;
	height: 100%;
}




// HEADER //

.headerContainer {
	padding: 1.5em $ContainerPadding*2 0 $ContainerPadding*2;
}
.logo { 
	background: url(../images/logo.png) no-repeat;
	float: left;
	width: 319px; height: 100px;
	text-indent: -100%;
}
.userPane {
	float: right;
	width: 36em; height: 4em;
	background: #fff;
	margin: 1em 0 1.5em;
	@include border-radius(4px);
	.searchContainer, form { 
		float: left;
		position: relative;
		padding: 1em 0 0 3.8em;
			.iconSize {
				position: absolute;
				top: 0.2em;
				left: 0.2em;
				font-size: 2.7em;
			}
	}
	form {
		padding-left: 5em;		
	}
}





// NAV //


nav {
	background: #fff;
	@include font-stack-thinTxt;
	ul { 
		position: relative;
		border-bottom: 1px dotted #000;
		margin: 0;
		padding: 0.5em 1em 0;
	}
	ul:nth-child(5) {
		border-bottom: none;
	}
	ul:nth-child(1) {
		background: #aeaeae;
	}
	ul li { 
		display: inline;
	}
}
.iconSize {
	font-size: 2em;
	padding: 0 0.5em 0 0;
}
.home-icon {
	color: #004077;
}
.nav-text a {
	position: absolute;
	top: 0.4em;
	font-size: 1.5em;
}

.homeTxt {
	color: #fff;
}



// MAIN-BODY //

.main-container {
	padding: 0 1.5em;
	.mainStory {
		background: #fff;
		padding: 1em $ContainerPadding;
	}
}




// MAIN CONTENT //

article { 
	position: relative;
	padding: 0 0 1em 0;
	border-bottom: 1px dotted #ccc;
	.iconSize {
		font-size: 4em;
		color: #000;
		position: absolute;
		top: -0.2em;
		right: -0.6em;
	}	
	h1 {
		@include font-stack-header;
		margin: 0;
		padding: 0 0 0.4em;
	}
	figure img {
		float: left;
		width: 275px; height: 189px;
		margin: 0 1em 0 0;
		border: 1px solid #000;
		padding: 0.2em;
		background-color: #000;
		}
	.post-author {
		float: left;
		background: #000;
		width: 45%;
		padding: 0.4em 1.4em;
		margin: 0.4em 0 0 0;
		border-bottom: 4px solid #cf3104;
		@include border-radius(4px);
		address {
			color: #fff;
			font-size: 0.7em;
			font-style: normal;
		}
	}
	p {
		margin: 0;
		padding: 0 0 0.4em 0;
		width: 96%;
		&:first-letter {
			font-size: 1.3em;
		} 
	}
}



// GALLERY //

.mainStory-galleryContainer {
	padding: 0 0 0.2em 0;
	border-bottom: 1px dotted #ccc;
}
.mainStory-gallery {
	overflow: hidden;
	margin: 1em 0 0 1em;
}
.mainStory-gallery-img-container {
  float: left;
  position: relative;
  width: 33%;
  padding-bottom: 20%;
	.imgHolder {
	  position: absolute;
	  overflow: hidden;
	  width: 206px; height: 116px;
		img {
			width: 212px; height: 122px;
			@include transition(all 0.3s ease-in-out);
		}
		&:hover img {
			width: 206px; height: 116px;
		}
		figcaption {
		  position: absolute;
		  bottom: 0;
		  left: 0;
		  right: 0;
		  color: #fff;
		  opacity: 0;
		  font-size: 0.5em;
		  margin: 0 0 -2em;
		  @include transition(all 0.3s ease-out);
		}
		&:hover figcaption {
			margin: 0 0 0;
		  background: rgba(0, 0, 0, 1);
		  opacity: 1;
		}
		h3 {
			padding: 0.4em 0.4em 0;
			line-height: 1.3;
		}
		.imgHolderStats {
			text-align: right;
			padding: 0.5em 0 0.3em 0;
		}
		.iconSize {
			padding: 0 0.1em 0 0.3em;
		}
		.statsNumber {
			padding: 0 0.5em 0 0;
		}
	}	
}





// WIDGETS //

.widget { 
	@include font-stack-normalTxt;
	background: #fff;
	padding: 0 $ContainerPadding $ContainerPadding;
	border-bottom: 1px dotted #ccc;
}
.widget-topUsers h2, .widget-topComments h2 {
	padding: 0 0 0.4em 0;
	font-size: 1.9em;
	@include font-stack-header;
}
.widget-topUsers {
	float: left;
	width: 50%;
	table { 
	  width: 85%;
	  table-layout: auto; 
	}
	th:nth-child(1) {
		@include border-left-radius(4px);
		text-align: left;
		padding: 0 0 0 1em;
	}
	th:nth-child(4) {
		@include border-right-radius(4px);
	}
	th { 
	  background: #000; 
	  color: white; 
	  font-weight: bold;
	  .iconSize {
	  	color: #ec5d29;
	  	font-size: 1.5em;
	  	padding: 0 0 0 0.1em;
	  }
	}
	td, th { 
	  padding: 6px; 
	  border: 0px solid #ccc; 
	  text-align: center;
	}
	td:nth-child(1) {
		text-align: left;
		padding: 0 0 0 1em;
	}	
	td a {
		background: #fff;
		padding: 0 0.4em;
		@include border-radius(4px);
		&:hover {
			background: #444;
			color: #fff;
		}
	}
	tbody tr {
		td:nth-child(1) {
			@include border-left-radius(4px);
		}
		td:nth-child(4) {
			@include border-right-radius(4px);
		}
		&:hover {
			background: #ccc;
		}
	}
}

.widget-topComments {
	padding: 0 0 1.4em 0;
	border-bottom: 1px dotted #ccc;
	h2 {
		text-align: right;
	}
	table {
		font-size: 0.70em;
		table-layout: fixed;
	}
	td {
		padding: 0 0.5em;
		text-align: right;
		height: 1em;
	}
	td img { 
		width: 70px; height: 50px;
		border: 3px solid #000;
		@include border-radius(4px);
	}
	td.commentTd {
		font-size: 1.15em;
		color: #fff;
		padding: 0.8em 0 0;
		a, span {
			float: right;
		}
		a {
			display: inline-block;
			background: #000;
			color: #fff;
			padding: 0.4em;
			@include border-radius(4px);
			&:hover {
				background: #444;
			}
		}
		.widerComment {
			width: 90%;
			}
		span {
			color: #000;
			margin: 0.1em 0 0.4em;
		}
	}
}

// .widerComment {  //Add to longer comments
// 	width: 95%;
// }







// RIGHT-SIDEBAR //

.rightSidebar {
	background: #fff;
	padding: 1em $ContainerPadding;
	position: relative;
	h2.joinUsH2 {
		width: 90%;
		border-bottom: 1px dotted #ccc;
		@include font-stack-header;
	}
	.iconSize {
		position: absolute;
		right: 1.4em;
		top: 0.7em;
	}
}
.singleLineTxt {
	font-size: 0.8em;
	background: #000;
	color: #fff;
	padding: 0.3em;
	width: 90%;
	text-align: center;
	@include border-radius(4px);
}
.postVideo h2 {
	font-size: 1.7em;
	width: 90%;
	@include font-stack-header;
	border-bottom: 1px dotted #ccc;

}
.postVideo select, input, textarea {
	margin: 0.4em 0;
}






// FOOTER //

footer h3, h4 {
		@include font-stack-thinTxt;
}

footer {
	width: 100%;
	padding: $ContainerPadding*2 $ContainerPadding*2 0;
	.footerContainer {
		padding: $ContainerPadding 0 $ContainerPadding*2;
		background: #fff;
	}
	.footer-left, .footer-right {
		float: left;
		width: 25%;
		text-align: center;
		margin: 0.5em 0 0;
	}
	.footer-mid {
		float: left;
		width: 50%;
		text-align: center;
	}
	a.twitter, a.facebook, a.pinterest {
		width: 40px;
		height: 40px;
		display: inline-block;
		background-position: 0 0;
		@include transition-property(background-position);
  	@include transition-duration(0.2s);
	}
	a.twitter {
		background: url('../images/social-twitter.png') no-repeat;
	}
	a.facebook {
		background: url('../images/social-facebook.png') no-repeat;
	}
	a.pinterest {
		background: url('../images/social-pinterest.png') no-repeat;
	}
	a.twitter:hover {
		background: url('../images/social-twitter.png') 100% 0 no-repeat;
		background-position: 0 100%;
	}
	a.facebook:hover {
		background: url('../images/social-facebook.png') 100% 0 no-repeat;
		background-position: 0 100%;
	}
	a.pinterest:hover {
		background: url('../images/social-pinterest.png') 100% 0 no-repeat;
		background-position: 0 100%;
	}
}





